<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CRUD Storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="fixed">Title</ion-label>
      <ion-input [(ngModel)]="newItem.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Value</ion-label>
      <ion-input [(ngModel)]="newItem.value"></ion-input>
    </ion-item>
  <ion-button expand="full" (click)="addItem()">Add Item!</ion-button>
  <ion-list #myList>
    <ion-list-header>
      <ion-label>My Items</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label text-wrap>
          <h3>{{item.title}}</h3>
        </ion-label>
        <ion-text color="secondary">
          <p>{{item.value}}</p>
        </ion-text>
        <p>{{item.modified | date:'short'}}</p>
      </ion-item>
      <ion-button color="secondary" (click)="updateItem(item)">Update</ion-button>
      <ion-button color="danger" (click)="deleteItem(item)">Delete</ion-button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
